<section class="brown-bar-container">

  <!-- background image -->
  <img src="{{root}}assets/img/DoctorAndLady_6.png" alt="placeholder_text">

  <!-- brown bar content -->
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="large-12 cell">
        <div class="large-12 cell brown-bar-content">
            <p>You might even get a thumbs up from your doctor, after confirming your HbA1c is the best it’s been in years...</p>
            <p>And also hear from your doctor that whatever you’ve been doing to lose those extra pounds: <em>"Keep it up, because it’s working like crazy!"</em></p>
        </div>
      </div>
    </div>
  </div>

</section>