<section class="gear-container">

  <!-- gear content -->
	<div class="grid-container gear-content">
    <div class="grid-x grid-margin-x">
      <div class="small-12 cell">
        <h4 class="body-copy-sm body-margin gears-yellow">You CAN now switch it back on.</h4>
        <p class="body-copy-sm body-margin">Even if you’re tired, out of shape, and have poor eating habits.</p>
        <p class="body-copy-sm body-margin">Your age doesn’t matter, either.</p>
        <p class="body-copy-sm body-margin">And when you do flip your AMPK on, you won’t believe the results...</p>
        <p class="body-copy-sm body-margin">You can keep your blood sugar healthy and stay sensitive to your natural insulin... so you can feel steady energy, look thin and trim...</p>
        <p class="body-copy-sm body-margin">...and stop stressing... because you know your numbers are in the normal range.</p>
        <p class="body-copy-sm body-margin">And the most incredible part is, it’s simpler than you think.</p>
        <p class="body-copy-sm body-margin">You can do this right in the comfort of your own home...</p>
      </div>
    </div>
  </div>

  <!-- gear image -->
  <img class="gear-img" src="{{root}}assets/img/Gears_15.jpg" alt="placeholder_text">

</section>