<section class="guarantee-callout-container">

	<!-- begin background gradient -->
	<div class="berbinex-background-gradient"></div>

  <!-- guarantee image -->
  <div class="guarantee-img-container-center">
  	<img class="guarantee-img" src="{{root}}assets/img/BerbinexGuarantee_36.jpg" alt="placeholder_text">
  </div>

	<!-- guarantee content -->
	<div class="grid-container guarantee-content-container">
	  <div class="grid-x grid-margin-x">
	    <div class="small-12 cell">
	    	<!-- body copy (black and white) -->
	      <p class="body-copy body-margin">Let me repeat that… for any reason at all, simply request a refund and we’ll be happy to oblige.</p>
	      <h4 class="body-copy body-margin"><strong>And your guarantee NEVER expires.</strong></h4>
	      <p class="body-copy body-margin">You can request a refund any time in the future – it could be six months from now... a year... or even two!</p>
	      <p class="body-copy body-margin">This way, there’s no pressure... and no risk... when you try Berbinex C3 today.</p>
	      <p class="body-copy body-margin">So let’s do this: Fill out your shipping information on the next page.</p>
	      <p class="body-copy body-margin">Once you do, we’ll begin packing your shipment of Berbinex C3 and then we’ll rush it your way.</p>
	      <p class="body-copy body-margin">Just a few short days from now, you’ll receive a plain, brown box from USPS.</p>
	      <img class="guarantee-content-img" src="{{root}}assets/img/DeliveryMan_37.jpg" alt="placeholder_text">
	      <p class="body-copy body-margin">Carefully packed inside will be your initial supply of Berbinex C3.</p>
	      <p class="body-copy body-margin">I recommend you immediately bring your Berbinex C3 supply into your kitchen, open it up...</p>
	      <p class="body-copy body-margin">...and have it ready before your very next meal.</p>
	      <p class="body-copy body-margin">As you eat, the ingredients inside Berbinex C3 will begin working with your blood cells and muscles...</p>
	      <p class="body-copy body-margin">And before you know it...</p>
	      <p class="body-copy body-margin">Your AMPK will be activated, keeping your blood sugar perfect, and keeping YOU HEALTHY.</p>
	      <p class="body-copy body-margin">As time goes on, you’ll feel the effects all day long and see the changes in your mirror.</p>
	      <p class="body-copy body-margin">You’ll even ask yourself, “How did I ever live without Berbinex C3?”</p>
	      <p class="body-copy body-margin">And that’s an important question... so we want to make sure you’re never without the blood sugar balancing power of Berbinex C3.</p>
	      <p class="body-copy body-margin">Because if you stop taking Berbinex C3, there’s a very real chance your Master Metabolic Switch will turn right back off... and then it will all be for nothing.</p>
	      <p class="body-copy body-margin">So, today, through this special offer, we’re giving you free access to our Priority Pass program.</p>
	      <p class="body-copy body-margin">That means, whenever you’re about to run out of Berbinex C3, we’ll ship you out a fresh supply and simply bill the credit card you use today.</p>
	      <p class="body-copy body-margin">Not only that, you lock in today’s special low price. And we’ll even pick up the shipping cost.</p>
	    </div>
	  </div>
	</div>

	<div class="grid-container berbinex-content-container">
		<!-- guarantee image -->
		<div class="berbinex-img-container">
			<img class="berbinex-img" src="{{root}}assets/img/_Berbinex-C3.png" alt="placeholder_text">
			<div class="berbinex-shipping-content">
				<p><strong>ORDER NOW AND RECEIVE</strong></p>
				<h4>FREE</h4>
				<p><strong>SHIPPING</strong></p>
			</div>
			<img class="berbinex-img" src="{{root}}assets/img/_Berbinex-C3.png" alt="placeholder_text">
		</div>
	</div>

	<!-- body copy (black and white) -->
	<div class="grid-container last-chance-content">
		<p class="body-copy body-margin">That’s right... you get FREE shipping on today’s order and all future Priority Pass orders.</p>
		<p class="body-copy body-margin">Of course, you can cancel or change this program at any time just by calling our friendly team.</p>
		<p class="body-copy body-margin">No hassle and complete convenience. That’s how we do business.</p>
		<p class="body-copy body-margin">And no matter what, you take no risk at all. Your satisfaction is ALWAYS guaranteed.</p>
		<p class="body-copy body-margin">So if you’re ready for perfect blood sugar levels and a healthy future... go ahead and click the button below now.</p>
		<p class="body-copy body-margin">It will take you to our secure reservation page, where you can select your initial supply of Berbinex C3. You’ll also find a way you can save a bunch of money...</p>
		<p class="body-copy body-margin">But do click the button now. I’ll see you on the other side... For Berbinex C3 and Gold Leaf Nutritionals, I’m Rachel Roane.</p>
		<p class="body-copy body-margin">Click the button below now to reserve your own supply of Berbinex C3, with berberine, chromium and CardiaSlim®.</p>
	</div>

	<!-- triangular / arrow effect below div -->
	<div class="grid-container arrow-img">
		<img class="" src="{{root}}assets/img/TransparentArrow3.png" alt="placeholder_alt">
	</div>

	<!-- mountains background image -->
	<img class="berbinex-background-img" src="{{root}}assets/img/TransparentArrowBkgd.jpg" alt="placeholder_alt">

	<!-- call to actions -->
	<div class="cta-container">
		<div class="cta-button">
			<a class="button large" href="#!" @click="add_to_cart"><span class="letter-spacing">ADD TO CART</span><br><span class="renew-clause">You Can review Your Order Before It's Final</span></a>
		</div>

		<div class="product-label">
		  <a class="product-label-button" href="#!">View the Product Label</a>
		</div>
	</div>

	<!-- footer info -->
	<footer class="footer-container">
		<p class="footer-copy body-copy body-margin">CardiaSlim brand property blend of two plant extracts is a registered trademark of Laila Nutraceuticals and InterHealth Nutraceuticals, Benicia, CA 94510</p>

		<transition name="fade">
			<div v-if="cartDisplayed" class="cart callout">
				<span class="cart close" @click="cartClose"><i class="fa fa-close" aria-hidden="true"></i></span>
				<p>Your cart now contains &#123;&#123;cartTotal&#125;&#125; item<span v-if="cartTotal > 1">s</span></p>
			</div>
		 </transition>

	</footer>

</section>