<!-- teaser content -->
<section class="grid-x teaser-section">
  <div class="large-4 medium-4 cell">
    <div class="teaser-image-container">
      <img class="teaser-image" src="../assets/img/DeliciousImg_2.png" alt="placeholder_text">
      <p class="teaser-text">Delicious...</p>
    </div>
  </div>
  <div class="large-4 medium-4 cell">
    <div class="teaser-image-container">
      <img class="teaser-image" src="../assets/img/GooeyImg_3.png" alt="placeholder_text">
      <p class="teaser-text">Gooey...</p>
    </div>
  </div>
  <div class="large-4 medium-4 cell">
    <div class="teaser-image-container">
      <img class="teaser-image" src="../assets/img/ChocolateImg_4.png" alt="placeholder_text">
      <p class="teaser-text">Chocolate...</p>
    </div>
  </div>
</section>